################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/SaleDrink.ApplicationAPI/aleDrink.ApplicationAPI.Persistence/obj
