<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
  <variable name="LogDir" value="${basedir}/logs"/>
  <variable name="ArcDir" value="${basedir}/logs/archive"/>

  <targets>
    <target
			xsi:type="File"
			name="trace"
			fileName="${LogDir}/Trace.txt"
			layout="${date:dd\.MM\.yyyy-HH\:mm\:ss} ${message}"
			archiveFileName="${ArcDir}/trace_archive.{#}.txt"
			archiveEvery="Day"
			archiveNumbering="Date"
			archiveDateFormat="yyyyMMdd"
			concurrentWrites="true"
			keepFileOpen="false"
			maxArchiveFiles="14" />
    <target
			xsi:type="File"
			name="Error"
			fileName="${LogDir}/Error.txt"
			layout="${date:dd\.MM\.yyyy-HH\:mm\:ss} ${message}"
			archiveFileName="${ArcDir}/error_archive.{#}.txt"
			archiveEvery="Day"
			archiveNumbering="Date"
			archiveDateFormat="yyyyMMdd"
			concurrentWrites="true"
			keepFileOpen="false"
			maxArchiveFiles="14" />
    <target
			xsi:type="File"
			name="Info"
			fileName="${LogDir}/Info.txt"
			layout="${date:dd\.MM\.yyyy-HH\:mm\:ss} ${message}"
			archiveFileName="${ArcDir}/Info_archive.{#}.txt"
			archiveEvery="Day"
			archiveNumbering="Date"
			archiveDateFormat="yyyyMMdd"
			concurrentWrites="true"
			keepFileOpen="false"
			maxArchiveFiles="14" />
    <target
			xsi:type="File"
			name="Warn"
			fileName="${LogDir}/Warn.txt"
			layout="${date:dd\.MM\.yyyy-HH\:mm\:ss} ${message}"
			archiveFileName="${ArcDir}/Warn_archive.{#}.txt"
			archiveEvery="Day"
			archiveNumbering="Date"
			archiveDateFormat="yyyyMMdd"
			concurrentWrites="true"
			keepFileOpen="false"
			maxArchiveFiles="14" />
  </targets>

  <rules>
    <logger name="Microsoft.*" minlevel="Info" maxlevel="Fatal" final="true" />
    <logger name="*" minlevel="Trace" maxlevel="Trace" writeTo="Trace" />
    <logger name="*" minlevel="Error" maxlevel="Fatal" writeTo="Error" />
    <logger name="*" minlevel="Info" maxlevel="Info" writeTo="Info" />
    <logger name="*" minlevel="Warn" maxlevel="Warn" writeTo="Warn" />
  </rules>
</nlog>
